<div class="row">
  <div class="col-md-12">
  <form novalidate (ngSubmit)="onSubmit(rpsForm)" [formGroup]="rpsForm">
    <h2>{{rpsClient.ClientName}}</h2>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Maintenance Fee: {{rpsClient.MaintenanceFees | currency: 'USD':true: '.2-2'}}</label>
      <label class="col-md-1 col-form-label">Year</label>
      <div class="col-md-2">
        <select formControlName="Year" class="form-control">
          <option value="2017">2017</option>
          <option value="2018">2018</option>
        </select>
      </div>
      <label class="col-md-1 col-form-label">Quarter</label>
      <div class="col-md-2">
        <select class="form-control" formControlName="Quarter">
          <option value="1">Q1</option>
          <option value="2">Q2</option>
          <option value="3">Q3</option>
          <option value="4">Q4</option>
        </select>
      </div>
    </div>

    <h3>Annual Participant Count</h3>
    <div class="form-group row">
      <label class="col-md-2 col-form-label"># Participants</label>
      <div class="col-md-2">
        <input class="form-control" type="text" formControlName="NumberParticipants" (change)="calculateParticipantDollars()">
      </div>
      <label class="col-md-2 col-form-label">$ per Participant</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="DollarPerParticipant" (change)="calculateParticipantDollars()">
      </div>
      <label class="col-md-2 col-form-label">Total Amount $</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="ParticipantDollars" readonly>
      </div>
    </div>
    
    <h3>Number of Loans</h3>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Total Loans</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="NumberLoans" (change)="calculateLoanDollars()">
      </div>
      <label class="col-md-2 col-form-label">$ per Loan</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="DollarPerLoan" (change)="calculateLoanDollars()">
      </div>
      <label class="col-md-2 col-form-label">Total Amount $</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="LoanDollars" readonly>
      </div>
    </div>

    <h3>Forms 5500/8955, etc</h3>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">5500</label>
      <div class="col-md-2">
        <select class="form-control" formControlName="Form5500">
        <option value="0">0</option>
        <option value="375">375</option>
        <option value="750">750</option>
        <option value="1000">1000</option>
      </select>
      </div>
      <label class="col-md-2 col-form-label">8955</label>
      <div class="col-md-2">
        <select class="form-control" formControlName="Form8955">
          <option value="0">0</option>
          <option value="75">75</option>
        </select>
      </div>
    </div>

    <h3>Special Fees</h3>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Amendments prepared, if any, describe as will be on invoice</label>
      <div class="col-md-6">
        <textarea class="form-control" formControlName="SpecialFeesText"></textarea>
      </div>
      <label class="col-md-1 col-form-label">$</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="SpecialFeesDollars">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Distributions #</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="NumberDistributions" (change)="calculateDistributionDollars()">
      </div>
      <label class="col-md-2 col-form-label">$ per Distribution</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="DollarPerDistribution" (change)="calculateDistributionDollars()">
      </div>
      <label class="col-md-2 col-form-label">Total Amount $</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="DistributionDollars" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Assets</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="Assets" (change)="calculateBasisPointFee()">
      </div>
      <label class="col-md-2 col-form-label">Basis Point Fee $</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="BasisPointFee" readonly>
      </div>
    </div>

    <h3>Credits</h3>
    <div class="form-group row">
      <label class="col-md-1 col-form-label">Credits</label>
      <div class="col-md-2">
        <input class="form-control" type="number" formControlName="Credits">
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-success btn-block" type="submit" [disabled]="rpsForm.invalid">Submit</button>
      </div>
    </div>
  </form>
  </div>
</div>
