<nav class="navbar navbar-toggleable-md">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed"  data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars" aria-hidden="true"></span>
  </button>
  <a class="navbar-brand" href="" [routerLink]="['']"><img src="../assets/images/schenck-logo.png"></a>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" [routerLink]="['/rps']" routerLinkActive="active">RPS Invoice</a>
    </div>
  </div>
  </div>
</nav>
