<div fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="30">
    <mat-card>
      <mat-card-title>
        Client Search
      </mat-card-title>
      <mat-card-content>
        <mat-form-field fxFill>
          <input matInput placeholder="Client Name" [matAutocomplete]="auto" [formControl]="clientListControl">
          <mat-hint>Search by Client Name or Id. Minimum 3 characters required.</mat-hint>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName" (optionSelected)="getClientInvoice()">
            <mat-option *ngFor="let client of filteredClients | async" [value]="client">
              {{client.ClientName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div>
