<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="20">
    <h3>Import Client Credit CSV</h3>
    <form [formGroup]="csvImport" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field>
        <app-input-file formControlName="requiredfile" placeholder="Required input" valuePlaceholder="No file selected" required></app-input-file>
        <mat-icon matSuffix>folder</mat-icon>
        <mat-error *ngIf="csvImport.get('requiredfile').hasError('required')">
          Please select a file
        </mat-error>
      </mat-form-field>
      <p>
        <button type="submit" [disabled]="csvImport.invalid" mat-raised-button color="primary">Upload CSV</button>
      </p>
    </form>
  </div>
</div>
