<div class="row">
  <div class="col-md-12">
    <form novalidate class="form-inline">
      <h2></h2>
      <label class="mr-sm-3">Maintenance Fee:</label>
      <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0">

      <div class="form-check mb-2 mr-sm-2 mb-sm-0">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox">Delete RPS Client?
        </label>
      </div>

      <button type="submit" class="btn btn-schenck">Submit</button>
    </form>
  </div>
</div>
