<mat-card>
  <mat-card-content>
    <form novalidate class="form" (ngSubmit)="onSubmit(maintenanceForm.value)" [formGroup]="maintenanceForm">
      <section>
        <mat-checkbox formControlName="IsDeleted">Delete RPS Client?</mat-checkbox>
      </section>
      <section>
        <p>
          <mat-form-field>
            <span matPrefix>$</span>
            <input matInput type="number" placeholder="Maintenance Fee" formControlName="Fee">
          </mat-form-field>
        </p>
      </section>
      <section>
        <button mat-raised-button color="accent" type="submit">Update Client</button>
      </section>
    </form>
  </mat-card-content>
</mat-card>
