/* You can add global styles to this file, and also import other style files */
.row {
    margin-top: 12px;
}

.border-bottom {
    border-bottom: 1px solid #00AFED;
}

.btn {
    font-size: 14px;
    font-weight: 700 !important;
}

.btn-schenck {
    background-color: #00AFED;
    color: #fff;
}
.btn-schenck:hover {
    background-color: #007EBA
}

.client-name {
    color: #00AFED;
}

body {
    font-size: 1.2rem;
}