/* You can add global styles to this file, and also import other style files */
.row {
    margin-top: 20px;
}

.btn {
    font-size: 14px;
    font-weight: 700 !important;
}

.btn-schenck {
    background-color: #00AFED;
    color: #fff;
}
.btn-schenck:hover {
    background-color: #007EBA
}