<div class="row">
  <div class="col-md-12">
  <h1>Schenck RPS</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="display-4">What do you need to do?</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <a href="" [routerLink]="['/rps']" class="btn btn-schenck btn-lg btn-block">Enter Invoice Data</a>
  </div>
  <div class="col-md-4">
    <a href="#" [routerLink]="['/maintenance']" class="btn btn-schenck btn-lg btn-block">Maintenance</a>
  </div>
  <div class="col-md-4">
    <a href="#" class="btn btn-outline-secondary btn-lg btn-block">Archive</a>
  </div>
</div>
